body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}
.signupbtn {
  background-color: #9080fc;
  padding: 3px 20px;
  border-radius: 25px;
}
.signupbtn:hover {
  background-color: #fff;
  transition: 0.3s ease-in-out;
  border: 2px solid #9080fc;
}

.signupbtn .nav-link {
  color: #fff !important;
}

.login {
  margin-right: 10px;
}

.navbar-nav .nav-link {
  color: black !important;
}

.navbar-brand h2 {
  color: black;
  margin: 0;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
  color: #6c757d;
}

.btn-primary {
  background-color: #9080fc;
  border-color: #9080fc;
  color: white;
}

.btn-secondary {
  background-color: #fff;
  border-color: #6c757d;
  color: rgb(10, 5, 5);
}

.btn-lg {
  padding: 0.5rem 1.5rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
}

.list-inline-item {
  margin-right: 0.5rem;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  border-radius: 0.3rem;
}

.stats {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.stats div {
  flex: 1;
  margin: 0 0.5rem;
  padding: 1rem;
  background-color: #fff;
  border-radius: 0.3rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.stats h3 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.stats p {
  font-size: 1rem;
  color: #6c757d;
}
